{% extends 'app.html.twig' %}

{% block title %}Hello AppController!{% endblock %}


{% block content %}
    <section class="section">
        <div class="container bg-white">
            <div class="row">
                <div class="col-12 col-md-8 mb-5">

                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ asset('build/images/placeholder.png') }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('build/images/placeholder.png') }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('build/images/placeholder.png') }}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="col-12 col-md-4 mb-5">
                    <h6 class="hr">angesagt</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0">
                            <div class="row">
                                <div class="col-5">
                                    <div class="post-with-overlay">
                                        <div class="category-caption">
                                            <a href="#">musik</a>
                                        </div>
                                        <div class="image-overlay">
                                            <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                            <a href="#" class="overlay"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="image-caption-heading">
                                        <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                    </div>
                                    <div class="image-caption-author">
                                        <a href="#" class="link-primary small">Benjamin Wagner</a>
                                    </div>
                                    <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item px-0">
                            <div class="row">
                                <div class="col-5">
                                    <div class="post-with-overlay">
                                        <div class="category-caption">
                                            <a href="#">musik</a>
                                        </div>
                                        <div class="image-overlay">
                                            <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                            <a href="#" class="overlay"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="image-caption-heading">
                                        <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                    </div>
                                    <div class="image-caption-author">
                                        <a href="#" class="link-primary small">Benjamin Wagner</a>
                                    </div>
                                    <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item px-0">
                            <div class="row">
                                <div class="col-5">
                                    <div class="post-with-overlay">
                                        <div class="category-caption">
                                            <a href="#">musik</a>
                                        </div>
                                        <div class="image-overlay">
                                            <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                            <a href="#" class="overlay"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="image-caption-heading">
                                        <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                    </div>
                                    <div class="image-caption-author">
                                        <a href="#" class="link-primary small">Benjamin Wagner</a>
                                    </div>
                                    <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="link-primary hr-link">mehr<i class="lni lni-chevron-right ms-1"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mb-5">
                    <h6 class="hr">zuletzt</h6>
                    <div class="row">

                        <div class="col-12 col-lg-6">
                            <div class="post-with-overlay">
                                <div class="category-caption">
                                    <a href="#">musik</a>
                                </div>
                                <div class="image-overlay">
                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                    <div class="image-overlay-caption d-none d-md-block">
                                        <div class="image-overlay-caption-heading">
                                            <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                        </div>
                                        <span class="image-overlay-caption-meta">February 18, 2016 - 18:32</span>
                                    </div>
                                    <a href="#" class="overlay"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="post-with-overlay">
                                <div class="category-caption">
                                    <a href="#">event</a>
                                </div>
                                <div class="image-overlay">
                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                    <div class="image-overlay-caption d-none d-md-block">
                                        <div class="image-overlay-caption-heading">
                                            <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                        </div>
                                        <span class="image-overlay-caption-meta">February 18, 2016 - 18:32</span>
                                    </div>
                                    <a href="#" class="overlay"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="post-with-overlay">
                                <div class="category-caption">
                                    <a href="#">event</a>
                                </div>
                                <div class="image-overlay">
                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                    <div class="image-overlay-caption d-none d-md-block">
                                        <div class="image-overlay-caption-heading">
                                            <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                        </div>
                                        <span class="image-overlay-caption-meta">February 18, 2016 - 18:32</span>
                                    </div>
                                    <a href="#" class="overlay"></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="post-with-overlay">
                                <div class="category-caption">
                                    <a href="#">kunst</a>
                                </div>
                                <div class="image-overlay">
                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                    <div class="image-overlay-caption d-none d-md-block">
                                        <div class="image-overlay-caption-heading">
                                            <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                        </div>
                                        <span class="image-overlay-caption-meta">February 18, 2016 - 18:32</span>
                                    </div>
                                    <a href="#" class="overlay"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h6 class="hr">vorgestellt</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="post-with-overlay">
                                                <div class="category-caption">
                                                    <a href="#">musik</a>
                                                </div>
                                                <div class="image-overlay">
                                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                                    <a href="#" class="overlay"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="image-caption-heading">
                                                <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                            </div>
                                            <div class="image-caption-author">
                                                <a href="#" class="link-primary small">Benjamin Wagner</a>
                                            </div>
                                            <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="post-with-overlay">
                                                <div class="category-caption">
                                                    <a href="#">musik</a>
                                                </div>
                                                <div class="image-overlay">
                                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                                    <a href="#" class="overlay"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="image-caption-heading">
                                                <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                            </div>
                                            <div class="image-caption-author">
                                                <a href="#" class="link-primary small">Benjamin Wagner</a>
                                            </div>
                                            <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="post-with-overlay">
                                                <div class="category-caption">
                                                    <a href="#">musik</a>
                                                </div>
                                                <div class="image-overlay">
                                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                                    <a href="#" class="overlay"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="image-caption-heading">
                                                <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                            </div>
                                            <div class="image-caption-author">
                                                <a href="#" class="link-primary small">Benjamin Wagner</a>
                                            </div>
                                            <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="link-primary hr-link">mehr<i class="lni lni-chevron-right ms-1"></i></a>
                        </div>
                        <div class="col-12 col-md-6">
                            <h6 class="hr">top 3 bands</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="post-with-overlay">
                                                <div class="category-caption">
                                                    <a href="#">musik</a>
                                                </div>
                                                <div class="image-overlay">
                                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                                    <a href="#" class="overlay"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="image-caption-heading">
                                                <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                            </div>
                                            <div class="image-caption-author">
                                                <a href="#" class="link-primary small">Benjamin Wagner</a>
                                            </div>
                                            <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="post-with-overlay">
                                                <div class="category-caption">
                                                    <a href="#">musik</a>
                                                </div>
                                                <div class="image-overlay">
                                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                                    <a href="#" class="overlay"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="image-caption-heading">
                                                <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                            </div>
                                            <div class="image-caption-author">
                                                <a href="#" class="link-primary small">Benjamin Wagner</a>
                                            </div>
                                            <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="post-with-overlay">
                                                <div class="category-caption">
                                                    <a href="#">musik</a>
                                                </div>
                                                <div class="image-overlay">
                                                    <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                                    <a href="#" class="overlay"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="image-caption-heading">
                                                <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                            </div>
                                            <div class="image-caption-author">
                                                <a href="#" class="link-primary small">Benjamin Wagner</a>
                                            </div>
                                            <span class="image-caption-meta">February 18, 2016 - 18:32</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="link-primary hr-link">mehr<i class="lni lni-chevron-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-5">
                    <h6 class="hr">am beliebtesten</h6>

                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Primary card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="post-with-overlay">
                            <div class="category-caption">
                                <a href="#">event</a>
                            </div>
                            <div class="image-overlay">
                                <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                <div class="image-overlay-caption d-none d-md-block">
                                    <div class="image-overlay-caption-heading">
                                        <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                    </div>
                                    <span class="image-overlay-caption-meta">February 18, 2016 - 18:32</span>
                                </div>
                                <a href="#" class="overlay"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="post-with-overlay">
                            <div class="category-caption">
                                <a href="#">event</a>
                            </div>
                            <div class="image-overlay">
                                <img src="{{ asset('build/images/placeholder.png') }}" alt="placeholder" class="img-fluid">
                                <div class="image-overlay-caption d-none d-md-block">
                                    <div class="image-overlay-caption-heading">
                                        <a href="#">Die 10 Interessantesten Bands, die du jemals erlebt hast.</a>
                                    </div>
                                    <span class="image-overlay-caption-meta">February 18, 2016 - 18:32</span>
                                </div>
                                <a href="#" class="overlay"></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h6 class="hr">leserservice</h6>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Suchen" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2">Los</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
